<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekday Warrior</title>
</head>
<body>
    <h1>Hey, it's <%= dayType %>, <%= advice %>!</h1>



    <p>Hello, <%= name %>!</p>
    <!-- Replace "name" with the variable you want to pass from the server-side -->
    <p>Today is <%= currentDate %>.</p>
    <!-- Replace "currentDate" with the variable representing the current date -->



</body>
</html>
